#window {
    -fx-background-image: url("/assets/background.png");
    -fx-background-repeat: repeat;
    -fx-background-size: 100 56;
}


#container #others FlowPane FlowPane {
    -fx-background-color: blue;
}

#container #left {
    -fx-column-halignment: center;
    -fx-row-valignment: center;

}

#boardContainer {
    -fx-alignment: center;
}

#others {
    -fx-orientation: horizontal;
}

#container {
    -fx-alignment: center;
}

Label {
    -fx-font-family: "Audiowide", monospace;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-text-fill: rgb(194, 194, 214);
    -fx-font-size: 1.2em;
}

#weaponContainer ImagePane, #powerupContainer ImagePane, #opponentsContainer PlayerBoardPane {
    -fx-cursor: hand;
}

#weaponContainer ImagePane:hover, #powerupContainer ImagePane:hover, #opponentsContainer PlayerBoardPane:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,255,255,0.8), 15, 0, 0, 0);
}

.h2 {
    -fx-font-family: "Ethnocentric Rg", monospace;
    -fx-font-size: 2em;
}

.h1 {
    -fx-font-family: "Ethnocentric Rg", monospace;
    -fx-font-size: 4em;
    -fx-text-alignment: center;
}

Text {
    -fx-font-family: "Audiowide", monospace;
    -fx-font-size: 1.2em;
}

#playerBoardContainer {
    -fx-column-halignment: center;
    -fx-row-valignment: center;
}

#playerBoardContainer * {
    -fx-alignment: center;
}