#container {

}

#board {
    -fx-alignment: center-left;
    -fx-hgap: 0;
}

#container #others FlowPane FlowPane {
    -fx-background-color: blue;
}

#others {
    -fx-orientation: horizontal;
}

#stuff {
    -fx-background-color: pink;
}




