#container {
    -fx-vgap: 5;
    -fx-alignment: center;
}

#container Label {
    -fx-font-family: "Roboto Mono";
}

.button-bar * {
    -fx-min-width: 200;
}

Button {
    -fx-alignment: center;
}

.dialog-pane:header .header-panel .label {
    -fx-font-family: "Roboto Mono";
}

ImagePane:hover {
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15, 0, 0, 0);
}