#container {
    -fx-vgap: 5;
    -fx-alignment: center;
}

#container Label {
    -fx-font-family: "Roboto Mono";
}

.button-bar * {
    -fx-min-width: 200;
}

Button {
    -fx-alignment: center;
}

.dialog-pane:header .header-panel .label {
    -fx-font-family: "Roboto Mono";
}